[Desktop Entry]
Type=Action
Name=Burn Image
Name[it]=Masterizza con K3b
Name[es]=Convierte con SoundKonverter
Name[de]=Mit SoundKonverter konvertieren
Name[pt]=Converta com SoundKonverter
Name[fr]=Convertir avec SoundKonverter
Name[nl]=Branden met K3b
Name[pl]=Konwertuj za pomocą SoundKonverter
Name[ru]=Записать с помощью K3b
Name[cz]=Převést pomocí SoundKonverter

Icon=k3b
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/x-cd-image;application/x-raw-disk-image;
Exec=k3b --cdimage %f
Name=Default profile
