[Desktop Entry]

Type=Action
Name=View disk usage
Name[it]=Visualizza utilizzo disco
Name[es]=Ver el uso del disco
Name[de]=Datenträgernutzung anzeigen
Name[pt]=Exibir uso do disco
Name[fr]=Afficher l'utilisation du disque
Name[nl]=Bekijk schijfgebruik
Name[pl]=Wyświetl użycie dysku
Name[ru]=Посмотреть использование диска
Name[cz]=Zobrazit využití disku

Icon=filelight

Profiles=profile-zero;

SelectionCount==1

MimeTypes=inode/directory;

Exec=filelight %f

