[Desktop Entry]
Type=Action

Name=Modify mp3 tags
Name[it]=Modifica tag mp3
Name[es]=Modificar etiquetas mp3
Name[de]=MP3-Tags ändern
Name[pt]=Modificar tags mp3
Name[fr]=Modifier les balises mp3
Name[nl]=MP3-tags aanpassen
Name[pl]=Zmodyfikuj tagi mp3
Name[ru]=Изменить mp3 теги
Name[cz]=Upravit mp3 značky

Icon=kid3-qt
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=audio/*;
Exec=kid3-qt %F
Name=Default profile
